@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dqca2r');
  src:  url('fonts/icomoon.eot?dqca2r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dqca2r') format('truetype'),
    url('fonts/icomoon.woff?dqca2r') format('woff'),
    url('fonts/icomoon.svg?dqca2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e900";
}
.icon-previous:before {
  content: "\e901";
}
.icon-registration:before {
  content: "\e902";
}
.icon-secondary-check:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e912";
}
.icon-left-arrow:before {
  content: "\e913";
}
.icon-right-arrow:before {
  content: "\e914";
}
.icon-secondary-up-arrow:before {
  content: "\e921";
}
.icon-close-thin:before {
  content: "\e924";
}
