.clear-list-styles, ul, .radio-button-list {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
  color: #FA6730;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #4a4a4a;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

::-moz-selection {
  color: #fff;
  background: #FA6730;
}

::selection {
  color: #fff;
  background: #FA6730;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: none;
}

.ui-widget {
  font-family: "Roboto Condensed", sans-serif;
}

.ui-button:focus {
  outline: none;
}

.ui-selectmenu-button.ui-button {
  width: 100%;
  border-radius: 4px;
}

.ui-menu-item-wrapper {
  border: 1px solid transparent;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: transparent;
  border-color: transparent;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  color: #5b8edc;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 10px 1em 10px 1.4em;
}

.form-box {
  border: 3px solid #E4EDF1;
  margin: 20px 0;
}
@media (min-width: 992px) {
  .form-box {
    max-width: 1000px;
    margin: 30px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-width: 12px;
  }
}

.form-box__left {
  background: #FA6730;
  text-align: center;
  padding: 30px 0;
}
@media (min-width: 992px) {
  .form-box__left {
    width: 34%;
  }
}

.form-box__left-icon-wrapper {
  display: block;
  font-size: 80px;
  color: #fff;
  text-align: center;
}
@media (min-width: 992px) {
  .form-box__left-icon-wrapper {
    font-size: 92px;
  }
}

.form-box__left-head {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #FFF1C8;
}

.form-box__left-para {
  font-size: 14px;
  color: #FFF1C8;
  line-height: 1.4;
  margin: 10px 0 0 0;
  padding: 0 8%;
  font-weight: 300;
}

.form-box__right {
  padding: 24px;
}
@media (min-width: 992px) {
  .form-box__right {
    width: 62%;
    padding: 38px;
  }
}
.form-box__right .registration-form > .steps {
  display: none !important;
}

.form-box__right-current-step {
  font-size: 14px;
  color: #A19FA1;
}

.registration-form-step-title {
  opacity: 0;
  filter: alpha(opacity=0);
  height: 0;
}

.wizard > .content {
  background: transparent;
  margin: 0;
}
.wizard > .content > .body {
  padding: 0;
  float: left;
  position: absolute;
  width: 100%;
  height: auto;
}
.wizard > .content > .body label.error {
  margin: 0;
  position: relative;
  background: #DE464A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.1;
  color: #fff;
  padding: 6px 14px;
  float: right;
}
.wizard > .content > .body label.error::after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #de464a;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 21px;
  line-height: 1.2;
  color: #333;
  border: none;
  margin: 0;
}

.form-box__right-input-list {
  margin-top: 25px;
}
@media (min-width: 992px) {
  .form-box__right-input-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
  }
}
.form-box__right-input-list > li {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .form-box__right-input-list > li {
    width: 48%;
    margin-right: 4%;
  }
}
@media (min-width: 992px) {
  .form-box__right-input-list > li:nth-child(even) {
    margin-right: 0;
  }
}

.input-text {
  border: none;
  border-bottom: 1px solid #F1EFF1;
  width: 100%;
  height: 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.input-text:hover {
  border-color: #676667;
}
.input-text:focus {
  outline: none;
}

.radio-button-list {
  position: relative;
}
.radio-button-list:error {
  padding-top: 18px;
}
.radio-button-list > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
}
.radio-button-list > li:last-child {
  margin-right: 0;
}
.radio-button-list .error {
  position: absolute !important;
  top: -10px;
  right: 0;
  display: inline-block;
}
@media (min-width: 992px) {
  .radio-button-list .error {
    top: -20px;
  }
}

.ci-icon-hidden-checkbox {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
  height: 0;
}
.ci-icon-hidden-checkbox:checked + .ci-custom-checkbox-skin .ci-custom-checkbox-icon {
  border-color: #686769;
  background: #686769;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.ci-icon-hidden-checkbox:checked + .ci-custom-checkbox-skin .ci-custom-checkbox-icon i {
  opacity: 1;
  filter: alpha(opacity=100);
}

.ci-custom-checkbox-skin {
  display: block;
}

.ci-custom-checkbox {
  margin: 0;
  clear: both;
}
.ci-custom-checkbox:hover .ci-custom-checkbox-icon {
  border-color: #c3c2c3;
}

.ci-custom-checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #F1EFF1;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.ci-custom-checkbox-icon i {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 3px;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  display: inline-block;
}

.ci-custom-checkbox-label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
  color: #757582;
}

.custom-select-drodpwon {
  border: none;
  background: none;
  border-bottom: 1px solid #F1EFF1;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.custom-select-drodpwon:hover {
  border-color: #676667;
}
.custom-select-drodpwon:focus {
  outline: none;
}

.input-textarea {
  border: none;
  background: none;
  border-bottom: 1px solid #F1EFF1;
  width: 100%;
  height: 80px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.input-textarea:hover {
  border-color: #676667;
}
.input-textarea:focus {
  outline: none;
}

@media (min-width: 992px) {
  .form-box__right-input-list--align-vertically {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .form-box__right-input-list--align-vertically > li {
    width: 100%;
    margin-right: 0;
  }
}

.actions > ul {
  display: block;
  width: 100%;
}
@media (min-width: 480px) {
  .actions > ul {
    text-align: right;
  }
}
.actions > ul > li {
  margin: 0;
  float: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .actions > ul > li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
}
.actions > ul > li:last-child {
  margin-bottom: 0;
}
.actions > ul > li:nth-child(2) > a {
  background: #3D90F1;
  color: #fff;
}
.actions > ul > li:nth-child(2) > a:hover {
  background: #0075ff;
}
@media (min-width: 480px) {
  .actions > ul > li:nth-child(2) {
    margin-right: 0;
  }
}
.actions > ul > li:nth-child(3) > a {
  background: #3D90F1;
  color: #fff;
}
.actions > ul > li:nth-child(3) > a:hover {
  background: #0075ff;
}
.actions > ul > li.disabled > a {
  cursor: not-allowed;
}
.actions > ul > li.disabled > a:hover {
  background: #D5D4D5;
}
.actions > ul > li > a {
  display: block;
  text-align: center;
  background: #D5D4D5;
  color: #2B2A2B;
  padding: 8px 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.actions > ul > li > a:hover {
  background: #cccbcc;
}

.confetti {
  position: absolute;
  animation: grow 1.4s cubic-bezier(0.42, 0, 0.275, 1.155) both infinite;
}

.confetti:nth-child(1) {
  width: 12px;
  height: 12px;
  left: 12px;
  top: 16px;
}

.confetti:nth-child(2) {
  width: 18px;
  height: 18px;
  left: 168px;
  top: 84px;
}

.confetti:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 32px;
  top: 162px;
}

.confetti:nth-child(4) {
  width: 20px;
  height: 20px;
  left: 82px;
  top: -12px;
}

.confetti:nth-child(5) {
  width: 14px;
  height: 14px;
  left: 125px;
  top: 162px;
}

.confetti:nth-child(6) {
  width: 10px;
  height: 10px;
  left: 16px;
  top: 16px;
}

.confetti:nth-child(1) {
  animation-delay: 0.7s;
}

.confetti:nth-child(2) {
  animation-delay: 1.4s;
}

.confetti:nth-child(3) {
  animation-delay: 2.1s;
}

.confetti:nth-child(4) {
  animation-delay: 2.8s;
}

.confetti:nth-child(5) {
  animation-delay: 3.5s;
}

.confetti:nth-child(6) {
  animation-delay: 4.2s;
}

.success-message {
  display: none;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.checkmark {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin: -110px 0 0 -90px;
  display: inline-block;
  padding: 30px;
}
.checkmark.animate {
  animation: checkmark 5.6s cubic-bezier(0.42, 0, 0.275, 1.155) both;
  animation-delay: 0.4s;
}

.checkmark__check {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  fill: #fff;
}

.checkmark__back {
  animation: rotate 35s linear both infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes checkmark {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10%, 50%, 90% {
    opacity: 1;
    transform: scale(1);
  }
}
.success-message-head {
  position: absolute;
  top: calc(50% + 82px);
  left: 0;
  width: 100%;
  font-size: 25px;
}

/*# sourceMappingURL=main.css.map */
