@import "partials/base";
@import "partials/mixins";
@import "partials/flex";
@import "partials/global";

.form-box{
  border: 3px solid #E4EDF1;
  margin: 20px 0;
  @media (min-width: 992px) {
    max-width: 1000px;
    margin: 30px auto;
    @include flexbox();
    border-width: 12px;
  }
}
.form-box__left{
  background: $primaryBrandColor;
  text-align: center;
  padding: 30px 0;
  @media (min-width: 992px) {
    width: 34%;
  }
}
.form-box__left-icon-wrapper{
  display: block;
  font-size: 80px;
  color: #fff;
  text-align: center;
  @media (min-width: 992px) {
    font-size: 92px;
  }
}
.form-box__left-head{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #FFF1C8;
}
.form-box__left-para{
  font-size: 14px;
  color: #FFF1C8;
  line-height: 1.4;
  margin: 10px 0 0 0;
  padding: 0 8%;
  font-weight: 300;
}
.form-box__right{
  padding: 24px;
  @media (min-width: 992px) {
    width: 62%;
    padding: 38px;
  }
  .registration-form{
  > .steps{
    display: none !important;   
    }
  }
}
.form-box__right-current-step{
  font-size: 14px;
  color: #A19FA1;
}
.registration-form-step-title{
  @include opacity(0);
  height: 0;
}
.wizard{
  > .content{
    background: transparent;
    margin: 0;
    > .body{
      padding: 0;
      float:left;
      position:absolute;
      width:100%;
      height:auto;
       label.error{
         margin: 0;
         position: relative;
         background: #DE464A;
         @include border-radius(3px);
         font-size: 12px;
         line-height: 1.1;
         color: #fff;
         padding: 6px 14px;
         float: right;
         &::after{
          content: '';
          position: absolute;
          bottom: -5px;
          right: 6px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #de464a;
         }
        }
    }
  }
}
legend{
  display: block;
  width: 100%;
  padding: 0;
  font-size: 21px;
  line-height: 1.2;
  color: #333;
  border: none;
  margin: 0;
}
.form-box__right-input-list{
  margin-top: 25px;
  @media (min-width: 992px) {
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(flex-end);
  }
  > li{
    margin-bottom: 20px;
    @media (min-width: 992px) {
      width: 48%;
      margin-right: 4%;
      // padding-top: 10px;
    }
    &:nth-child(even){
      @media (min-width: 992px) {
        margin-right: 0;
      }
    }
  }
}
.input-text{
  border: none;
  border-bottom: 1px solid #F1EFF1;
  width: 100%;
  height: 40px;
  @include transition(all 0.4s);
  &:hover{
    border-color: #676667;
  }
  &:focus{
    outline: none;
  }
}
.radio-button-list{
  @extend .clear-list-styles;
  position: relative;
  &:error{
    padding-top: 18px;
  }
  > li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
    &:last-child{
      margin-right: 0;
    }
  }
  .error{
      position: absolute !important;
      top: -10px;
      right: 0;
      display: inline-block;
      @media (min-width: 992px) {
        top: -20px;
      }
    }
}


// Checkbox
.ci-icon-hidden-checkbox {
  @include opacity(0);
  width: 0;
  height: 0;
  &:checked+.ci-custom-checkbox-skin {
    .ci-custom-checkbox-icon {
      border-color: #686769;
      background: #686769;
      @include transition(all 0.3s);
      i {
        @include opacity(1);
      }
    }
  }
}
.ci-custom-checkbox-skin{
  display: block;
}
.ci-custom-checkbox{
  margin: 0;
  clear: both;
  &:hover{
    .ci-custom-checkbox-icon{
      border-color: #c3c2c3;  
    }
  }
}
.ci-custom-checkbox-icon{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #F1EFF1;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  @include transition(all 0.4s);
  i{
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 3px;
    color: #fff;
    @include opacity(0);
    display: inline-block;
  }
}
.ci-custom-checkbox-label{
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
  color: #757582;
}
.custom-select-drodpwon{
  border: none;
  background: none;
  border-bottom: 1px solid #F1EFF1;
  width: 100%;
  height: 40px;
  @include border-radius(0);
  @include transition(all 0.4s);
  &:hover{
    border-color: #676667;
  }
  &:focus{
    outline: none;
  }
}
.input-textarea{
  border: none;
  background: none;
  border-bottom: 1px solid #F1EFF1;
  width: 100%;
  height: 80px;
  @include border-radius(0);
  @include transition(all 0.4s);
  &:hover{
    border-color: #676667;
  }
  &:focus{
    outline: none;
  } 
}
.form-box__right-input-list--align-vertically{
  @media (min-width: 992px) {
    @include flex-direction(column);
  }
  > li{
    @media (min-width: 992px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
.actions{
  > ul{
    display: block;
    width: 100%;
    @media (min-width: 480px) {
      text-align: right;
    }
    > li{
      margin: 0;
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      @media (min-width: 480px) {
        display: inline-block;
        width: auto;
        margin-right: 15px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &:nth-child(2){
        > a{
          background: #3D90F1;
          color: #fff;
          &:hover{
           background: #0075ff;
          }
        }
        @media (min-width: 480px) {
          margin-right: 0;
        }
      }
      &:nth-child(3){
        > a{
          background: #3D90F1;
          color: #fff;
          &:hover{
           background: #0075ff;
          }
        }
      }
      &.disabled{
        > a{
          cursor: not-allowed;
          &:hover{
            background: #D5D4D5;
          }
        }
      }
      > a{
        display: block;
        text-align: center;
        background: #D5D4D5;
        color: #2B2A2B;
        padding: 8px 30px;
        @include border-radius(2px);
        @include transition(all 0.4s);
        &:hover{
          background: #cccbcc;
        }
      }
    }
  }
}
.confetti {
  position: absolute;
  animation: grow 1.4s cubic-bezier(0.42, 0, 0.275, 1.155) both infinite;
  // &.grow{
  //   animation: grow 1.4s cubic-bezier(0.42, 0, 0.275, 1.155) both infinite;
  // }
}
.confetti:nth-child(1) {
  width: 12px;
  height: 12px;
  left: 12px;
  top: 16px;
}
.confetti:nth-child(2) {
  width: 18px;
  height: 18px;
  left: 168px;
  top: 84px;
}
.confetti:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 32px;
  top: 162px;
}
.confetti:nth-child(4) {
  width: 20px;
  height: 20px;
  left: 82px;
  top: -12px;
}
.confetti:nth-child(5) {
  width: 14px;
  height: 14px;
  left: 125px;
  top: 162px;
}
.confetti:nth-child(6) {
  width: 10px;
  height: 10px;
  left: 16px;
  top: 16px;
}
.confetti:nth-child(1) {
  animation-delay: 0.7s;
}
.confetti:nth-child(2) {
  animation-delay: 1.4s;
}
.confetti:nth-child(3) {
  animation-delay: 2.1s;
}
.confetti:nth-child(4) {
  animation-delay: 2.8s;
}
.confetti:nth-child(5) {
  animation-delay: 3.5s;
}
.confetti:nth-child(6) {
  animation-delay: 4.2s;
}
.success-message{
  display: none;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}
.checkmark {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin: -110px 0 0 -90px;
  display: inline-block;
  padding: 30px;
  &.animate{
    animation: checkmark 5.6s cubic-bezier(0.42, 0, 0.275, 1.155) both;
    animation-delay: 0.4s;
  }
}

.checkmark__check {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  fill: #fff;
}

.checkmark__back {
  animation: rotate 35s linear both infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes checkmark {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10%, 50%, 90% {
    opacity: 1;
    transform: scale(1);
  }
}
.success-message-head{
  position: absolute;
  top: calc(50% + 82px);
  left: 0;
  width: 100%;
  font-size: 25px;
}
@media (min-width:1700px) {}

