$primaryBrandColor: #FA6730 !default;
$primary-font: 'Roboto Condensed', sans-serif;
$base__font-size: 15 !default;
$base__font-color: #4a4a4a;
$primaryColor: #0063ff;
$successColor: #0ee48b;
$warningColor: #ff7400;
// $dangerColor: #f35244;
// $infoColor: #36d5ff;
// $secondaryColor : #15cdb8;
// $tertiaryColor: #4c84ff;
// $light-green: #15cdb8;
// $dark-grey: rgba(74, 74, 74, 0.9);
// $normal-grey: rgba(74, 74, 74, 0.7);
// $light-grey: rgba(74, 74, 74, 0.5);
// $extra-light-grey: rgba(74, 74, 74, 0.2);
