
.clear-list-styles{list-style:none outside;margin:0;padding:0;}
a{@include transition(all 0.4s);}
a:hover{color: $primaryBrandColor;}
a:hover, a:focus{text-decoration:none;outline: none;}
h1, h2, h3, h4, h5, h6{color: $base__font-color ;}
h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
img{max-width:100%;height:auto;}
body{
  font-family:$primary-font;
}
::-moz-selection{color: #fff;background: $primaryBrandColor;}
::selection{color: #fff;background: $primaryBrandColor;}
ul{@extend .clear-list-styles;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  &:focus{outline: none;}
}

// Customizing jquery ui selectmenu
.ui-widget{font-family:$primary-font;}
.ui-button:focus{outline: none;}
.ui-selectmenu-button.ui-button{width: 100%;border-radius: 4px;}
.ui-menu-item-wrapper{border: 1px solid transparent;}
.ui-state-active, .ui-widget-content .ui-state-active{background: transparent;border-color: transparent;}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{margin: 0;}
.ui-state-active, .ui-widget-content .ui-state-active{color: #5b8edc;}
.ui-menu .ui-menu-item-wrapper{padding: 10px 1em 10px 1.4em;}
